nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

nbproject/project.xml
*.properties
nbproject/build-impl.xml
*.xml
manifest.mf
/Elliptic-Curve-Cryptography-El-Gamal/nbproject/private/